<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">

	</head>
	<body>
		<nav>
    		<ul>
    			{% for item in site.data.navigation %}
        		<li> <a href="{{ item.link }}" {% if page.url == item.link %}style="color: #558be2;"{% endif %}> {{ item.name }}</a></li>
        		{% endfor %}
    		</ul>
		</nav>
		<div class="container">
    		
        {{ content }}
        
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:ahana_sen@duke.edu">Email</a></li>
        		<li><a href="http://linkedin.com/in/ahana-sen-a93056163/">LinkedIn</a></li>
			</ul>
		</footer>
	</body>
</html>
